html,body{
    margin: 0;
}
.conteudo{
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    position: relative;
}
.coluna1{
    width: 40vw;
    height: 100vh;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
}
.coluna2{
    width: 60vw;
    height: 97.4vh;
    background-color: rgb(255, 0, 64);
    position: absolute;
    margin-top: 1.5vh;
    margin-right:0.7vw; 
    right:0;
    border-radius: 10px;
}
.header{
    margin-top: 5%;
    margin-left: 15%;
}
.galo{
    width: 10vh;
}
.title{
    margin-top: 3%;
}
